
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    background-color: hsl(0, 0%, 8%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
}

#container
{
    background-color: hsl(0, 0%, 12%) ;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
}

img
{
    border-radius: 50%;
}

h1
{
   color: hsl(0, 0%, 100%) ; 
   font-family: 'Inter', sans-serif;
   padding-top: 5px;
}
p
{
    color: hsl(0, 0%, 100%) ;
    font-family: 'Inter', sans-serif;
    padding: 20px;
}

#yellow{
  color:   hsl(75, 94%, 57%);
  font-family: 'Inter', sans-serif;
  padding: 10px;
}

button{
    background-color:hsl(0, 0%, 20%) ;
    color: hsl(0, 0%, 100%) ;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border-style: none;
    font-family: 'Inter', sans-serif;
    margin: 7px; 
}

button:hover {
    cursor: pointer;
    background-color:hsl(75, 94%, 57%);
    color: black;
}
